.container{
    display: flex;
}

.col1, .col1_full{
    width: 30%;
    height: calc(100% - 110px);
    overflow-y: scroll;
    top: 110px;
    position: fixed;
    
}

.linemethod a{
    display: flex;
}

h2{
    display: flex;
}

.col2{
    width: 70%;
    position: fixed;
    left: 30%;
    top: 110px;
    height: calc(100% - 110px);
    overflow-y: scroll;
}

body{
    font-family:arial,sans-serif;
    font-size:16px
    color: #494949;
    padding:0px;
    margin:0px;
}

.head{
    padding:20px;
    background-color: #c1d1f7;
    margin-bottom: 20px;
    position: fixed;
    width: calc(100% - 40px);
    height: 70px;
    overflow: hidden;
    display: flex;
}


.head .liens{
    text-align: right;
    flex-grow: 1;
    padding-top: 25px;
}

.required{
    background-color: #becdfa;
}

.opt{
    font-weight: bold;
    padding-left: 10px;
}

h1{
    padding:0px;
    margin:0px;
    text-transform: uppercase;
}

h2{
    padding:0px;
    margin:0px;
}

a{
    color: #00226f;
}

.bloc{
    background-color: #e5e8f1;
    padding: 20px;
    margin-bottom: 2px;
}

.bloc h2{
    margin-bottom: 20px;
}

.argument{
    display: flex;
    padding-left: 10px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dashed #ababab;
}

.argument .def{
    width: 200px;
}

.argument .def .nom{
    font-weight: bold;
}

.argument .def .type{
    font-style: italic;
}

.argument .valeur{
    
} 

.argument .valeur .help{
    font-style: italic;
    padding-top: 7px;
    font-size: 14px;
}

input, select{
    border: 1px solid #494949;
    padding: 5px;
}

input[type=submit]{
    background-color: #60a139;
    padding: 20px;
    color: white;
    font-weight:bold;
    font-size:16px;
    border:none;
    cursor: pointer;
    width: 100%;
}

textarea{
    border: 1px solid #494949;
    padding: 5px;
    width: 100%;
    height: 200px;
}

input[type=submit]:hover{
    background-color: #9cd679;
}